* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.top-banner {
    background-image: url(donation7-modified.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-banner-element {
    text-align: center;
    color: white;
    padding-top: 200px;
    padding-bottom: 150px;
}

#top-banner-h {
    font-size: 60px;
    font-weight: 900px;
    padding-bottom: 30px;
}

#top-banner-p {
    font-size: 22px;
    font-weight: 900px;
    padding-bottom: 30px;
}

.donate-button {
    background-color: salmon;
    font-size: 20px;
    font-weight: 500px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
}

.salmon-color {
    color: salmon;
}

.donate {
    text-align: center;
    padding-top: 100px;
}

#donate-h {
    font-size: 40px;
    font-weight: 800px;
    padding-bottom: 30px;
}

#donate-p {
    font-size: 22px;
    padding-bottom: 30px;
}

.Taka {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
    color: gray;
}

.taka-h {
    background-color: rgb(226, 222, 222);
    width: 150px;
    height: 100px;
    padding-top: 50px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#taka-diff-h {
    background-color: pink;
    width: 150px;
    height: 100px;
    padding-top: 50px;
    border-radius: 5px;
    border: solid rgb(223, 86, 109) 2px;
    margin-left: 20px;
    margin-right: 20px;
}

#amount-h {
    font-size: 20px;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.726);
    padding-bottom: 15px;
}