* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.top-banner {
    background-image: url(donation7-modified.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-banner-element {
    text-align: center;
    color: white;
    padding-top: 200px;
    padding-bottom: 150px;
}

#top-banner-h {
    font-size: 60px;
    font-weight: 900px;
    padding-bottom: 30px;
}

#top-banner-p {
    font-size: 22px;
    font-weight: 900px;
    padding-bottom: 30px;
}

.button {
    background-color: salmon;
    font-size: 20px;
    font-weight: 500px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
}

.donate {
    text-align: center;
    padding-top: 100px;
}

#donate-h {
    font-size: 40px;
    font-weight: 800px;
    padding-bottom: 30px;
}

#donate-p {
    font-size: 25px;
    font-weight: 800;
    color: gray;
}

.Taka {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
    color: gray;
}

.taka-h {
    background-color: rgb(226, 222, 222);
    width: 150px;
    height: 100px;
    padding-top: 50px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#taka-diff-h {
    background-color: pink;
    width: 150px;
    height: 100px;
    padding-top: 50px;
    border-radius: 5px;
    border: solid rgb(223, 86, 109) 2px;
    margin-left: 5px;
    margin-right: 5px;
}

#amount-h {
    font-size: 25px;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.726);
    padding-bottom: 15px;
}

.donate-plan {
    text-align: center;
    padding-top: 100px;
}

#plan-h {
    font-size: 40px;
    font-weight: 800px;
    padding-bottom: 30px;
}

#plan-p {
    font-size: 25px;
    font-weight: 800;
    color: gray;
}

.Ctagories {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;

}

img {
    padding-bottom: 20px;
}

.text {
    font-size: 20px;
    font-weight: 900px;
}

.Food {
    background-color: pink;
    background-size: cover;
    text-align: left;
    padding-top: 75px;
    padding-right: 25px;
    padding-bottom: 75px;
    padding-left: 25px;
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
}

.shelter {
    background-color: salmon;
    background-size: cover;
    text-align: left;
    padding-top: 75px;
    padding-right: 25px;
    padding-bottom: 75px;
    padding-left: 25px;
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
}

.Medicine {
    background-color: antiquewhite;
    background-size: cover;
    text-align: left;
    padding-top: 75px;
    padding-right: 25px;
    padding-bottom: 75px;
    padding-left: 25px;
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
}

#survive-img {

    height: 500px;
    width: 450px;
    border-radius: 30px;
}

.need {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.left {
    width: 50%;
    margin-right: 5px;

}

.right {
    width: 50%;
    text-align: left;
    padding-right: 15px;
    padding-left: 10px;
    margin-left: 5px;
}

#survive-h {
    font-size: 40px;
    font-weight: 900px;
    padding-top: 125px;
    padding-bottom: 20px;
}

#survive-p {
    font-size: 20px;
    font-weight: 900;
    color: rgb(114, 109, 109);
}

.Updates {
    text-align: center;
    margin-bottom: 100px;
}

#updates-p {
    font-size: 25px;
    font-weight: 800;
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.data {
    font-size: 20px;
}

footer {
    text-align: center;
    background-color: black;
    background-size: cover;
    color: rgb(180, 38, 22);
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}